#infoSQL {
  color:red;
  
  margin-top: 20px;
  text-align: center;

}

#log, #form_container {

  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 40px 0px;
  border: #2980b9 4px solid;
}

#username, #regusername {
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;

  margin-top:10px;
  font-size:1em;
  border-radius:4px;
  margin-left: 20px;
}

#password, #regpassword, #regpassword_again {

  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
  margin-left: 20px;
}

#regpassword, #regpassword_again {
  margin-top: 5px;
}
#submit, #logout_submit {
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

#logout_submit {
  margin-top: 3px;
  margin-left: 80px
}
.reg_btn_wrapper {
  text-align: center;
  margin-top: 20px
}
#register_submit, #logout_submit {
  font-weight:800;
  background:#2ecc71;
  border-radius:4px;
  border: #27ae60 1px solid;
  color: white;
  display: inline-block;
  padding: 0 30px;
  font-weight:800;
  font-size: 20px;;


}
#submit:hover{
  background:#2CC06B;
}

#registerButton{
  float:left;
  background:#3498db;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#registerButton:hover{
background:#3594D2;
}
